html,body{
    min-height: 100%;
    /* margin: 0; */
}
.baidu-video {
    width: 100%;
    height: 610px;
    overflow: hidden;
/*     border-left: 1px inset; */
}
.baidu-video iframe{
    width: 100%;
    height: 800px;
    /*     margin-top: -200px; */
    margin-left: -2px;
}
iframe{
    border: 0;
}
body{
    /* max-width: 751px; */
    margin:auto;
    /* padding: 8px; */
    position: relative;
    padding-bottom: 5em;
    box-sizing: border-box;
}
form{
    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
    /* height: 50%; */
    /* padding-top: 5em; */
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    position: relative;
}
input{font-size: 1.5em;padding: 0 5px;}

input{
    width: 100%;
    height: 15%;
    transition: font-size .2s, height .2s;
    /* text-align: center; */
    min-height: 2em;
}
button{
    position: absolute;
    /* left: 0; */
    right: .5em;
    bottom: -.75em;
    margin: auto;
    font-size: 1.5em;
    /* float: left; */
    width: 5em;
    line-height:1.5em;
    z-index: 1;
}
.confirm{
    text-align:center;
    padding: 12em 0;
    max-width: 751px;
    margin: auto;
}
.confirm span{
    display: block;
    /* line-height: 420px; */
}
.confirm i{
    /* display: block; */
    font-size: 1.2em;
}
.none{
    /* color:yellow; */
}
.more i{
    font-style: normal;
}
.a-more{

    text-decoration: none;
}
.a-more:hover{
    
    text-decoration: none;
}
.more{ opacity: .6; }
.more:hover{
    opacity: 1;
}

.title{
    margin-top:2em;
    margin-bottom:1em;
    font-weight: normal;
    display: inline-block;
}
a{
    opacity: .6;
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: -webkit-link;
    text-decoration: underline;
    opacity: 1;
}
.is-same{
    color: -webkit-link;
    text-decoration: underline;
    opacity: 1;
}
.tel{
    /* display: inline; */
    position: absolute;
    bottom: 0;
    line-height: 2em;
    /* left: 0; */
    /* padding: 0 .5em; */
    width: 100%;
    margin: auto;
    /* right: 0; */
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    /* border: 0; */
    /* border-top: 1px; */
    /* border-top-style: dashed; */
    /* border-top-color: darkgray; */
    opacity: .6;
}
.tel a{
    margin-right:1em;
}
.hide{
    display:none;
}
.loading{
    padding:11.5em 0;
}
.icon-douban:before,.icon-loading:before,.icon-pan:before{
    content:" ";
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align:middle;
}
.icon-loading{
    display:block;
}
.icon-loading:before{
    background-image: url("https://m.popkey.co/163fce/Llgbv_s-200x150.gif");
    
    width: 2em;
    height: 2em;
}
.icon-douban:before{
    background-image: url("https://img3.doubanio.com/favicon.ico");
    /* vertical-align: text-top; */
}
.icon-pan:before{
    background-image: url("https://yun.baidu.com/res/static/images/favicon.ico");
}
iframe[sandbox="allow-same-origin allow-popups allow-forms allow-pointer-lock"]{
    opacity:.1;
}
#data{
    padding:0 .5em;
    max-width: 751px;
    margin: auto;
}
code{
    word-break: break-all;
}


@media screen and (min-width:751px){
    input{
        text-align: center;
    }
    button{
/*         left: 0; */
/*         right: 0; */
    }
    #progressGroup {
        text-align: center;
    }
    .baidu-video {
        height: 420px;
    }
    .baidu-video iframe{
        margin-top: -190px;
    }
}

progress{
    -webkit-appearance: none;
    height: .5em;
    width: 5em;
    vertical-align: middle;
}
progress::-webkit-progress-bar {
    background-color: inherit;
}
progress::-webkit-progress-value{
  
    background-color: darkgray;
}
progress.success::-webkit-progress-value{
    background-color: green;
}
progress.error::-webkit-progress-value{
    background-color: red;
}
progress.none::-webkit-progress-value{
    background-color: yellow;
}
#progressGroup{
    display:none;
    text-align: left;
    margin-top:3em;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);  /* IE 9 */
    -moz-transform: rotate(90deg);  /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
    -o-transform: rotate(90deg);  /* Opera */
}
#progressGroup li{
    text-align: left;
}
#progressGroup a{
    
    display:none;
}
#progressGroup.show{
    display: inline-block;
}
#progressGroupDiv{
    text-align:center;
}

#doubanList{
    height:10em;
    overflow-x: scroll;
    white-space: nowrap;
    padding: .5em;
    display:none;
}
#doubanList img{
    height: 7.5em;
    /*     margin-right:.2em; */
    /* position:absolute; */
    /* z-index:-1; */
    /* margin:auto; */
    /* left:0; */
    /* right:0; */
    /* vertical-align: top; */
    /* float: left; */
    /* display: block; */
}
#doubanList a{
    position:relative;
    text-align:center;
    display:inline-block;
    height:100%;
    margin-right:.5em;
    min-width:110px;
    overflow: hidden;
}
#doubanList span{
    /* white-space: nowrap; */
    /* width: 5em; */
    /* text-align: center; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    line-height: 1.5em;
    /* float: left; */
    display: block;
}