.baidu-video {
    width: 100%;
    height: 420px;
    overflow: hidden;
/*     border-left: 1px inset; */
}
.baidu-video iframe{
    width: 100%;
    height: 610px;
    margin-top: -200px;
    margin-left: -2px;
}
iframe{
    border: 0;
}
body{
    max-width: 751px;
    margin:auto;
    padding: 8px;
}
form{
    margin-top: 2em;
    margin-bottom: 2em;
    /* height: 50%; */
    /* padding-top: 5em; */
    box-sizing: border-box;
    text-align: center;
}
input,button{line-height: 2em;}
input{
    width: 60%;
}
.none{
    text-align:center;
}
.none span{
    display: inline-block;
    line-height: 420px;
}
#loading{
    display:none;
    text-align:center;
    background-image: url("https://m.popkey.co/163fce/Llgbv_s-200x150.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5em;
}
.title{
    margin-top:2em;
    margin-bottom:1em;
    font-weight: normal;
    display: inline-block;
}
a{
    opacity: .6;
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: -webkit-link;
    text-decoration: underline;
    opacity: 1;
}
.tel{
    display: inline;
    position: fixed;
    top: 0;
    line-height: 2em;
    right: 0;
    padding-right:.5em;
}