html,body{
    min-height: 100%;
    /* margin: 0; */
}
img{
  max-width:100%;
}
.baidu-video {
    width: 100%;
    height: 470px;
    overflow: hidden;
    /*     border-left: 1px inset; */
    position: relative;
}

.passport-baidu{text-align: center;}

.zh-CN .passport-baidu{display:none;}
#data.iniframe .baidu-video {
      /* margin-left: calc(50% - 375px); */
      width: 750px;
      /*     overflow-x:scroll; */
      height: 416px;
}
#data.iniframe .baidu-video-help{
    overflow-x:scroll;
}
#data.iniframe .baidu-video iframe {
    margin-top: -192px;
}
.magnet-video{
      position: relative;
      width: calc(100% - 4.5em);
      /* overflow: hidden; */
}
.baidu-video iframe{
    width: 100%;
    height: 800px;
    /*     margin-top: -200px; */
    margin-left: -2px;
}
.loading{
    border: 0;
    background-image: url(https://m.popkey.co/163fce/Llgbv_s-200x150.gif);
    background-repeat: no-repeat;
    background-size: 5em auto;
    background-position: center;
}
iframe.loading[src]{
    background: none;
}
body{
    /* max-width: 751px; */
    margin:auto;
    /* padding: 8px; */
    position: relative;
    /* padding-bottom: 5em; */
    box-sizing: border-box;
    z-index: -2;
    overflow-x: hidden;
/*     background-color: rgba(255,255,255,1); */
}
.search-form{
    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
    /* height: 50%; */
    /* padding-top: 5em; */
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}
.search-form input{font-size: 1.5em;padding: 0 5px;}

.search-form input{
    width: 100%;
    height: 15%;
    transition: font-size .2s, height .2s;
    /* text-align: center; */
    min-height: 2em;
    /* background: none; */
    background-color: rgba(255,255,255,.8);
}
.search-form button{
    /*     position: absolute;
    /* left: 0; */
    right: .5em;
    bottom: -.75em;
    margin: auto;
    font-size: 1.5em;
    /* float: left; */
    width: 5em;
    line-height: 1.5em;
    z-index: 1;
    /* right: 0; */
    /* bottom: 0; */ */
    position: relative;
    /* width: 100%; */
    position: absolute;
    /* margin-top: -2px; */
    /* display: none; */
    }
.search-form button:after{
  content:"↵";
  /* position:absolute; */
  /* right:2px; */
  /* bottom:2px; */
  z-index:1;
  bottom: .3em;
  font-size: .5em;
  right: 0;
  /* font-weight: 100; */
  /* line-height: .5em; */
  /* opacity: .6; */
  width: 0;
  display: inline-block;
  /* vertical-align: middle; */
  /* transform: translate(0,.5em); */
}
.confirm{
    text-align:center;
    padding: 12em 0;
    max-width: 751px;
    margin: auto;
}
.confirm span{
    display: block;
    /* line-height: 420px; */
}
.confirm i{
    /* display: block; */
    font-size: 1.2em;
}
#progressGroup li.confirm-none{
    /* color:yellow; */
    position: absolute;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    display:none;
    /* top: -100%; */
    bottom: 100%;
    text-align: center;
}
/* #progressGroup li.none ~ li.none ~ li.confirm-none{
  display:block;
}
#progressGroup li.none + li.none + li.more{
  display:block;
}
#progressGroup li + li.none +li.none + li.more{
  display:none;
} */
#progressGroup li + li +li + li.more{
  display:none;
} 

.confirm-none>span{
  font-size:1.5em;

}
/* .more i{
    font-style: normal;
}
.a-more{

    text-decoration: none;
}
.a-more:hover{
    
    text-decoration: none;
}
.more{ opacity: .8; }
.more:hover{
    opacity: 1;
} */

.title{
    /* margin-top:2em; */
    margin-bottom:1em;
    font-weight: normal;
    display: inline-block;
    word-break:break-all;
}
a{
    /* opacity: .8; */
    /* color: inherit; */
    text-decoration: none;
}
#data a{
/*     text-decoration: none; */
}
a[href]:hover{
    /* color: -webkit-link; */
    text-decoration: underline;
    opacity: 1;
}
a[href]:hover > img{
    /* box-shadow: 0 1px blue; */
}
.hover{
  text-decoration: underline;
  /* color: initial; */
  color: -webkit-link; */
}
.is-same{
    color: -webkit-link;
    text-decoration: underline;
    opacity: 1;
}
footer{
    /* display: inline; */
    /* position: absolute; */
    bottom: 0;
    line-height: 2em;
    /* left: 0; */
    /* padding: 0 .5em; */
    width: 100%;
    margin: auto;
    /* right: 0; */
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    /* border: 0; */
    /* border-top: 1px; */
    /* border-top-style: dashed; */
    /* border-top-color: darkgray; */
    /* opacity: .99; */
    /* overflow-wrap: break-word; */
    /* overflow-x: scroll; */
    /* white-space: nowrap; */
    /* z-index: -11; */
    position: relative;
}
footer>a{
    margin-right:1em;
}
footer >p{
  /* margin: auto; */
  /* opacity: .2; */
  /* line-height: 2em; */
  /* font-size: .5em; */
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* z-index: -1; */
  display: none;
}
/* .tel:hover:after{
  content:"13006248103";
} */
.hide{
    display:none;
}
.icon-douban:before,.icon-loading:before,.icon-pan:before{
    content:" ";
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align:middle;
}
.icon-loading{
    display:block;
}
.icon-loading:before{
    background-image: url("https://m.popkey.co/163fce/Llgbv_s-200x150.gif");
    
    width: 2em;
    height: 2em;
}
.icon-douban:before{
    background-image: url("https://img3.doubanio.com/favicon.ico");
    /* vertical-align: text-top; */
}
.icon-pan:before{
    background-image: url("https://yun.baidu.com/res/static/images/favicon.ico");
}
iframe[sandbox="allow-same-origin allow-popups allow-forms allow-pointer-lock"]{
    opacity:.1;
}
#data{
    padding:0 .5em;
    /* max-width: 751px; */
    margin: auto;
    text-align: center;
}
code{
    word-break: break-all;
    padding:0 .5em;
    box-sizing:border-box;
    display: block;
}




progress{
    -webkit-appearance: none;
    height: .8em;
    width: 5em;
    vertical-align: inherit;
}
progress::-webkit-progress-bar {
    background-color: inherit;
    background-color: #eee;
}
progress::-webkit-progress-value{
  
    background-color: darkgray;
}
.success progress::-webkit-progress-value{
    background-color: green;
}
.error progress::-webkit-progress-value{
    background-color: red;
}
.none progress::-webkit-progress-value{
    background-color: yellow;
}
#progressGroup .num{
  display:none;
  font-size: 1.2em;
  cursor: pointer;
  vertical-align: middle;
  padding: .5em;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#progressGroup .success .num{
  display:inline-block;
}


#progressGroup{
    display:none;
    text-align: left;
    /* margin: 2em 0; */
    margin-bottom: 5em;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);  /* IE 9 */
    -moz-transform: rotate(90deg);  /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
    -o-transform: rotate(90deg);  /* Opera */
    position: relative;
    /* z-index: 10; */
    font-size: 1.3em;
    /* font-size: 1.5em; */
}
#progressGroup li{
    text-align: left;
    list-style: none;
    /* line-height: .8em; */
}
#progressGroup li i:before{
   content: '';
   display: inline-block;
   height: .8em;
   width: .8em;
   /* background-image: url(); */
   margin-right: .5em;
   background-size: 100%;
   transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
}
#progressGroup li.more{
  text-align:center;
  line-height: 2em;
  padding-top: .5em;
  /* box-shadow: 0 0 1px; */
  /* display:none; */
}
.more .num:after{
    content:"﹀";
    font-size: 1.2em;
    /* vertical-align: middle; */
    /* text-shadow: 0 0 1px; */
    /* margin-top: -.5em; */
}
#progressGroup.show{
    display: inline-block;
}
.more em{
  display: block;
  /* min-width: 1em; */
  text-align: center;
  margin-bottom: -.5em;
}
#progressGroupDiv{
    text-align:center;
    /* min-height: 30em; */
    overflow: auto;
    /* font-size: 1.5em; */
}
i.diaosisou:before{
   background-image: url('http://www.diaosisou.org/static/image/favicon.ico');
}
i.tieba:before{
   background-image: url('https://tb1.bdstatic.com/tb/favicon.ico');
}
i.panduoduo:before{
   background-image: url('http://139.196.166.21:8085/favicon.ico');
}
i.panc:before{
   background-image: url('https://api.goproxy.cc/static/css/pancss/img/favicon.ico');
}
i.thepiratebay:before{
   background-image: url('https://thepiratebay.org/favicon.ico');
}
.doubanList{
    /* height: 50%; */
    overflow-x: scroll;
    white-space: nowrap;
    padding: .5em;
    /* display:none; */
    /* margin-bottom: 5em; */
    text-align: center;
    box-sizing: border-box;
/*     background-color: rgba(255,255,255,.8); */
    width: 100%;
    /* overflow: auto; */
    /* min-height: 50%; */
    /* overflow-y: scroll; */
    position: relative;
}
#searchTop.doubanList{
  min-height: 50%;
  /* min-height: 100px; */
  position: relative;
  top: 25%;
  /*   padding-top:50%; */
  transform:translateY(-25%);
  -ms-transform:translateY(-25%); 	/* IE 9 */
  -moz-transform:translateY(-25%); 	/* Firefox */
  -webkit-transform:translateY(-25%); /* Safari 和 Chrome */
  -o-transform:translateY(-25%); 	/* Opera */
}
#searchBottom.doubanList{
/*   height: 20em;
    min-height: initial; */
}
.doubanList .loading{
    display:inline-block;
    min-width:110px;
    height: 100%;
}
.doubanList img{
    height: 7.5em;
    /*     margin-right:.2em; */
    /* position:absolute; */
    /* z-index:-1; */
    /* margin:auto; */
    /* left:0; */
    /* right:0; */
    /* vertical-align: top; */
    /* float: left; */
    /* display: block; */
    /* max-width: 100%; */
}
.doubanList a{
    /* position:relative; */
    text-align:center;
    display:inline-block;
    /* height: 10em; */
    margin: .5em;
    /* width: 50%; */
    overflow: hidden;
    opacity: 1;
    vertical-align: top;
    /* width: auto; */
    /* margin: 0; */
    /* max-width: 11em; */
    /* display: flex; *//*Flex布局*/
    /* display: -webkit-flex; */ /* Safari */
    /* align-items:center; *//*指定垂直居中*/
}
.doubanList a[href]{
    /* text-decoration: underline; */
    color: blue;
    color: -webkit-link;
}
.doubanList span{
    /* white-space: nowrap; */
    /* width: 5em; */
    /* text-align: center; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    line-height: 1.5em;
    /* float: left; */
    display: block;
}
.douban-more i{
  display:block;

}

iframe+.reloadSingle {
  height: 2em;
  padding: .25em  0 0 .25em;
  width: 2em;
  position: absolute;
  top: 1em;
  right: 1em;
  color: transparent;
  display:none;
  /* background: transparent; */
  cursor:pointer;
}
iframe[src]+.reloadSingle{
  display: inline-block;
}
.reloadSingle:hover{
  background-color: #ddd;
  /* box-shadow: 0 1px #999; */
}
.reloadSingle:before, .reloadSingle:after {
  content: '';
  display: block;
}
.reloadSingle:before {
  border-color: transparent #999 #999 #999;
  border-radius: 50%;
  border-style: solid;
  border-width: .125em;
  height: 1.5em;
  width: 1.5em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.reloadSingle:after {
  border-color: transparent transparent transparent  #999;
  border-style: solid;
  border-width: .3125em 0 .3125em .5em;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
}


.tabs {
  position: relative;  
/*   // set height to be even for all tab groups */
  /* min-height: 200px; */
  z-index: 10000;
}

.tab {
  /* float: left; */
  display: inline-block;
  /* position: relative; */
  margin-right: 1em;
}

.tab label {
/*   // set label height *//* top: 1em; */
  display: inline-block;padding: 0 .5em;
  cursor: pointer;
  box-shadow: 0 0 1px  black;
  background: white;

}

/* // Visually hide radio buttons */
.tab [type=checkbox] {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  
/*   &:focus + label {
    outline: 2px dotted black;
  } */
}

.content {
  position: absolute;
  /* top: 2em; */
  left: 0;
  right: 0;
  bottom: 100%;
  /* opacity: 0; */
  display:none;
  /* width: 20em; */
  z-index: -1;
}
#messageDiv .content{
  width: 15em;
  bottom: 100%;
  /* z-index: 0; */
  /* box-shadow: 0 0 0; */
  right: 0;
  left: auto;
  margin: auto;
}
.icon-face:before{
  content:"☹";
}
#tab-message.success ~ label:before{
  content:" ✓";
  color:green;
}
#tab-message.error ~ label:before{
  content:" ✗";
  color:red;
}
[type=checkbox]:checked + label {
  z-index: 2;
  box-shadow: 0 1px 1px black;
  background-color: white;
}

[type=checkbox]:checked ~ .content {/* z-index: 1; *//* opacity: 1; */display: block;background-color: #fff;/* z-index: -1; */box-shadow: 0 1px 1px black;}

#progressGroup .reloadSingle{
    display: none;
    position: relative;
    vertical-align: middle;
    height: 2em;
    padding: .25em .25em 0;
}
#progressGroup .error .reloadSingle{
    display: inline-block;
}
#progressGroup .reloadSingle:before{
  border-color: transparent red red red;
}
#progressGroup .reloadSingle:after{
  border-color: transparent transparent transparent red;
} 
.reloadSingle{
  cursor: pointer;
  /* box-shadow: 0 0 1px; */
}
.button{

    cursor: pointer;
}
.button:hover {
    background-color: #ddd;
}
#disqus_thread{
  margin-top:2em;
  padding:.5em;
}
iframe{

    width: 100%;
}
#messageDiv{
  position:relative;
  z-index: 10;
}
#messageForm{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}
#messageForm textarea{
  width: 100%;
  min-height: 6em;
  border: 0;
  padding-top: 1em;
}
#messageForm [type="submit"]{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2em;
}
#messageForm [type="submit"].loading{
}
.magnet-tech{
    /* height: 22em; */
    overflow-x: scroll;
    white-space: nowrap;
    padding: .5em;
    /* display: none; */
    /* margin-bottom: 5em; */
    text-align: center;
    box-sizing: border-box;
    /* background-color: white; */
}
.magnet-tech img{
 max-height: 18em;
}
.video-item{
  position:relative;
  /* margin-top: 2em; */
  display: inline-block;
  max-width: 751px;
  width: 100%; */
  text-align: left;
  vertical-align: top;
  /* padding: .5em; */
  margin-top: 2em;
  box-sizing: content-box;
  text-align: left;
}
.is-it{
  text-align:center;
  border: 0;
  background: rgba(250,250,250,.2);
  -webkit-appearance: inherit;
  appearance: inherit;
  cursor: pointer;
  color: #999;
  /* color: blue; */
  width: 100%;
  height: 100%;
  font-size: 1em;
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid #999; */
  transition: background .5s,border-radius .5s;
  /* margin: 0; */
}
.is-it:checked:after{
  content:"✓";
  font-size: 4em;
  line-height: 1em;
}
.is-it:checked{
  color: green;
/*   color: #fff; */
  /* box-shadow: 0 0 1px green; */
  /* border: 1px solid green; */
/*   background-color: green; */
  border-radius: 0%;
}
.is-it.fa:before{
  font-size: 3em;
  line-height: 1.25em;
}

.is-it:checked:before{display: none;}
.is-it:hover{
    /* background-color: #ddd; */
/*     border: 1px solid blue; */
    box-shadow: 0 0 1px #000;
    border: 1px solid #999;
    }
.is-it:checked:hover{
    border: 1px solid green;
}

.video-item:hover .is-it,.video-item .is-it:checked{
  visibility: visible;
}
.share{width: 4em;height: 4em;position: absolute;right: 0;top: 0;bottom: 0;margin: auto;z-index: 1;}

.magnet-video+.share{
  /* position: initial; */
  /* float: right; */
  /* z-index: -1; */
}
.share-other{
  display: inline-block;
  /* position: absolute; */
  /* width: 20em; */
  /* right: 0; */
  text-align: center;
  background: rgba(255,255,255,.9);
  /* display: inline-block; */
  /* margin: auto; */
  position: relative;
}
.share-other.social-share{
  padding:1em
}
.is-it:checked+.share-other{
  display:block;
}
.share-other[checked='true']{
    position: fixed;
    bottom: 0;
    right: -100px;
    left: -100px;
    z-index: 11;
}


.bdsharebuttonbox{
    display:inline-block;
    vertical-align: middle;
}


@media screen and (min-width:1000px){
    
    .share{
/*         right:-5em; */
    }
}

@media screen and (max-width:1500px){
    .share{
/*         right:0; */
    }
}
#top{
    position: fixed;
    top: 0;
    left:0;
    height:0;
    text-align:center;
    width: 100%;
    z-index: 10;
    /* position: relative; */
    /* margin-bottom: -2px; */
    /* z-index: 11; */
    /* background: darkgray; */
}
.bookmark, .bookmark:before, .bookmark:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bookmark{
    display:inline-block;
    height: 70px;
    width: 50px;
    padding: 0px;
    margin: 0 .5em .5em;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    border-left: 25px solid red;
    border-right: 25px solid red;
    border-bottom: 25px solid transparent;
    /* z-index: 10; */
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}

.bookmark:before{
  content: "Chick me to  Bookmark";
  position: absolute;
  /* right: -25px; */
  left: -25px;
  margin: auto;
  /* padding-right: 10px; */
  /* height: 100%; */
  width: 50px;
  /* display: inline-block; */
  text-align: center;
  font-size: .5em;
  transform: scale(0.8);
  /* color: #fff; */
  /* color: red; */
}
.bookmark:after{
  /* content: " "; */
  position: absolute;
  /* right: -25px; */
  left: 25px;
  /* margin: auto; */
  padding-left: 10px;
  height: 100%;
  width: 100px;
  /* display: inline-block; */
  /* text-align: center; */
  /* font-size: .5em; */
  /* transform: scale(0.8); */
  background: url(img/lao.png);
  background-size: 100% 100%;
}
a.bookmark{
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
/*   -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2); */
  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2); */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
a.bookmark:hover {
  /* border-top: 1px solid #d58512; */
  /* box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2); */
}
/* 

a.bookmark:active {
  border: 1px solid #d58512;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
} */



@media screen and (min-width:751px){
    input{
        text-align: center;
    }
    button{
/*         left: 0; */
/*         right: 0; */
    }
    #progressGroup {
        text-align: center;
    }
    .baidu-video {
        height: 416px;
    }
    .baidu-video iframe{
        margin-top: -192px;
    }
    
    footer>p{
      display:inline-block;
      margin: 0;
    }
    #disqus_thread{
      max-width:751px;
      margin:auto;
    }

    .video-item {
      width: 751px;
      padding: .5em;
    }
    .doubanList{
      overflow-x: auto;
      white-space: initial;
    }
    .doubanList a {
        width: 9em;
        /* width: auto; */
    }
    .share-other{
          /* position: absolute; */
          /* left:100%; */
    }
    
    #top{
      text-align: left;
    }
    #donate {
        /* margin-left: -75px; */
    }
    
    .coinhive-miner{
      display:inline-block;
    }

    .share-other.social-share .icon-wechat .wechat-qrcode {
      opacity: 1;
      filter: alpha(opacity=100);
      visibility: visible;
    }
    #progressGroup {
        font-size: 1.5em;
    }
}
.coinhive-miner {
    margin:1em 0;
}
#dataIsIt .is-it{
/*   display:none; */
}
#dataIsIt{
  max-width: 751px;
    margin: auto;
}

#donate{
  display:inline-block;
  vertical-align:middle;
  /* border-left: 1px solid; */
  /* float: right; */
  /* margin-left: -75px; */
  position:relative;
  /* margin: 2.5em 0; */
}
#donate iframe{
/*     box-shadow: 0 0 2px #aaa; */

}
#donate:before{
  content:"............"
  display:inline-block;
  vertical-align:middle;
  
}
#donate span{
  /* position:absolute; */
  left:0;
  right:0;
  width: 200px;
  display: block;
  position: relative;
  /* top: 0; */
  /* bottom: 1em; */
  bottom: 90%;
  margin:auto;
  color: #555;
  /* text-align: center; */
  background-color: #fff;
  box-shadow: 0 2px 10px #aaa;
  margin-bottom: -2.5em;
}

#donate span:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -13px;
    width: 0;
    height: 0;
    border-width: 8px 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
a.movieannual2017 {
    /* position: absolute; */
    display: inline-block;
    width: 186px;
    height: 96px;
    text-align:right;
    /*     top: 9px;
    left: 50%;
    margin-left: 220px; */
    background: url(//img3.doubanio.com/dae/accounts/resources/094108a/movie/assets/annual_2017.png) center/contain no-repeat;
    }
    #db-nav-movie a.movieannual2017:hover, #db-nav-movie a.movieannual2017:visited, #db-nav-movie a.movieannual2017:active {
      background-color: transparent;
}
a.movieannual2017:after,ad:after{
  content:"广告";
  font-size:.5em;
}

@media screen and (min-width:451px){
  .search-form button{
      right: 0;
      bottom: 0;
      /* left: 0; */
  }
}

.navigation-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
/*     margin-right: 4px; */
    background-image:url(https://coinhive.com/media/coinhive-icon.png);
    background-size:100%;
}
.coinhive-miner a{
  margin-right:.5em;
  display:inline-block;
  vertical-align: middle;
}
.coinhive-miner button{
  border:0;
  background:none;
  vertical-align:middle;

}

[data-footnote]::before {
	content: attr(data-footnote);
	/* border-radius: 6px; */
	/* background-color: rgba(100,100,100,0.8); */
	/* color: #fff; */
	/* height: 24px; */
	/* line-height: 24px; */
	padding: 0 6px;
	font-size: 12px;
	white-space: nowrap;
	/* top: -24px; */
	/* left: 37px; */
	position: absolute;
	z-index: 1;
	margin-top: -2em;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.googleList{
  
}

footer .nav-index{
/*   position:absolute; */
/*   top:300px; */
  left:0;
  right:0;
  bottom:1em;
  margin:auto;
  display:block;
  
}